@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');


.mont{
  font-family: 'Montserrat'
}

.syne{
  font-family: 'Syne'
}

.hide-scroll::-webkit-scrollbar{
  display: none;
}

select{
  appearance: none;
}